@font-face {
    font-family: "ComicMono";
    src: url("fonts/ComicMono.ttf");
}

body {
    background-color: black;
    font-family: "ComicMono";
    color: white;
}

p {
    margin: 1px;
}

#WelcomeText {
    margin: 1px;
    padding: 0px;
}

#Slogan {
    margin: 2px;
    padding: 0px;
}

#ContactUs {
    border: none;
    color: black;
    font-weight: 700;
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    transition: 0.5s;
}

#ContactUs:hover {
    color: white;
    background-color: black;
    border: solid white;
    border-width: 1px;
    transition: 0.5s;
}
